html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.g-container {
    margin: 0 auto;
    background-image: url("https://hexschool.github.io/webLayoutTraining1st/chatTalker_images/home.svg"), url("https://hexschool.github.io/webLayoutTraining1st/chatTalker_images/bg_home.svg"), url("https://hexschool.github.io/webLayoutTraining1st/chatTalker_images/ball01.svg");
    background-repeat: no-repeat;
    background-position: right 170px, right top, -180px 720px;
    background-size: 532px, 850px, 360px;
    font-family: 'Noto Sans TC', sans-serif;
    line-height: 1.5;
}

header {
    padding-bottom: 100px;
}

.header-nav {
    display: flex;
    justify-content: space-between;
}

.header-nav img {
    width: 218px;
    height: 40px;
    padding: 24px 0px 24px 139px;
}

.btn-program {
    width: 64px;
    height: 24px;
    background: #FF5D50;
    color: #FFFFFF;
    padding: 8px 32px;
    margin: 24px 139px 24px 0px;
    text-decoration: none;
    border-radius: 22px;
}

.header-content {
    margin: 188px 0px 374px 140px;
}

.header-text span {
    font-size: 18px;
    color: #56C4C5;
    margin-bottom: 8px;
}

.header-text h1 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 16px;
}

.header-text p {
    font-size: 20px;
}

.header-content img {
    width: 532px;
    height: 534px;
}

h2 {
    font-size: 32px;
    text-align: center;
    color: #221E1F;
    margin-bottom: 48px;
    font-weight: bold;
}

.social ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.social-card {
    width: 244px;
    margin-right: 137px;
}

.social-img {
    width: 90px;
    height: 90px;
    padding: 0px 77px 24px 77px;
}

.social-span {
    font-size: 24px;
    color: #221E1F;
    font-weight: bold;
}

.span-padding {
    padding-right: 42px;
    padding-left: 42px;
}

.social-p {
    color: #747474;
    padding: 24px 8px 0px 8px;
    text-align: center;
}

.social {
    margin-bottom: 100px;
}

h6 {
    padding-top: 16px;
    padding-bottom: 48px;
    font-size: 20px;
    color: #221E1F;
    text-align: center;
}

.role ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.role-card {
    width: 260px;
    padding-right: 16px;
}

.role-img {
    width: 260px;
    padding-bottom: 16px;
}

.role-card span {
    color: #56C4C5;
    padding: 0px 98px;
}

.role-card p {
    color: #221E1F;
    padding: 16px 16px 24px 16px;
    text-align: center;
}

.function {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 148px;
}

.function-card {
    width: 507px;
    display: flex;
    flex-wrap: wrap;
}

.col-2 {
    width: 230px;
}

.col-2-1 {
    padding-right: 47px;
}

.col-2 img {
    padding: 49px 127px 24px 51px;
}

.col-2 span {
    color: #221E1F;
    font-size: 18px;
    font-weight: bold;
    padding-left: 32px;
}

.col-2 p {
    color: #221E1F;
    padding: 16px 32px 48px 32px;
}

.col-4 {
    width: 532px;
    padding: 165px 0px;
}

.col-4-h {
    text-align: left;
}

.fa {
    background: #56C4C5;
    color: #FFFFFF;
    border-radius: 27px;
    text-decoration: none;
    padding: 12px 32px;
}

.user-content {
    padding-top: 48px;
    padding-bottom: 100px;
}

.col-3 {
    width: 352px;
    border-radius: 12px;
    box-shadow: 0px 2px 10px #00000014;
}

.user-icon {
    width: 80px;
    height: 80px;
    border-radius: 50px;
    position: relative;
    top: -50px;
    left: 32px;
}

.col-3-p {
    padding-bottom: 24px;
    border-bottom: 1px solid #DDDDDD;
    margin: 0px 32px 24px 32px;
}

.col-3 span {
    font-weight: bold;
    color: #221E1F;
    margin: 0px 32px 0px 32px;
}

.star {
    padding-top: 8px;
    margin: 0px 32px 24px 32px;
    display: flex;
    justify-content: space-between;
}

.star-img img {
    width: 16px;
}

.footer-bg {
    background-image: url("https://hexschool.github.io/webLayoutTraining1st/chatTalker_images/home_footer.svg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 503px;
}

.footer-h {
    padding-top: 260px;
    padding-bottom: 48px;
}

.footer-a {
    margin: 0 auto;
    text-align: center;
}

.footer-p {
    text-align: center;
    padding: 16px 0px;
    background-color: #F5F5F5;
}

.swiper {
    margin: 0px 139px;
    --swiper-pagination-color: #FFD153;
}

.swiper-pagination-color {
    color: #FFD153;
}

@media (max-width:576px) {
    .g-container {
        background-image: url("https://hexschool.github.io/webLayoutTraining1st/chatTalker_images/home.svg"), url("https://hexschool.github.io/webLayoutTraining1st/chatTalker_images/bg_home_sm.svg");
        background-size: 450px, contain;
        background-position: 42px 368px, 20px 474px;
    }

    .header-nav {
        border-bottom: 3px solid #F5CA52;
    }

    .header-nav img {
        width: 130px;
        height: 24px;
        padding: 24px 0px 24px 20px;
    }

    .btn-program {
        margin: 8px 20px 8px 32px;
    }

    .header-content {
        margin: 32px 20px 590px 32px;
    }

    .header-content h1 {
        padding-top: 8px;
        padding-bottom: 16px;
    }

    .social-card {
        margin: 24px 74px 0px 74px;
    }

    .social {
        margin-bottom: 60px;
    }

    .function {
        flex-direction: column-reverse;
        padding-bottom: 60px;
    }

    .col-4 {
        text-align: center;
        padding-bottom: 32px;
        width: auto;
    }

    .col-4-h {
        text-align: center;
    }

    h2 {
        margin-bottom: 16px;
    }

    .col-2 {
        margin: 0px 53px;
    }

    .col-2-1 {
        padding-right: 0;
    }

    .function-card {
        justify-content: center;
        width: auto;
    }

    .col-3-p {
        padding: 0px 16px 16px 16px;
        margin: 0px 0px 24px 0px;
    }

    .footer-bg {
        background-image: url("https://hexschool.github.io/webLayoutTraining1st/chatTalker_images/footer_sm.svg");
        background-size: contain;
    }
}